body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.attention,
h3 {
    padding: 0;
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.center-container {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0 0 30px -4px rgba(0,0,0,.6);
}

.main-header {
    margin-bottom: 0px;
}

.main-header-logo {
    position: absolute;
    left: 530px;
    top: 0;
}

.welcome-message {
    position: relative;

    padding-top: 76px;
    padding-bottom: 69px;
    margin-bottom: 61px;

    text-align: center;
}

.welcome-message::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 1200px;
    height: 57px;

    background: url(../img/welcome-mask.svg) no-repeat;
}

.main-menu {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.menu-list li {
    box-sizing: border-box;
    width: 25%;
}

.menu-list li:first-child {
    padding-left: 72px;
}

.menu-list li:nth-child(2) {
    padding-left: 12px;
}

.menu-list li:nth-child(3) {
    padding-right: 16px;
}

.menu-list li:last-child {
    padding-right: 72px;
}

.menu-list li:nth-child(3),
.menu-list li:nth-child(4) {
    text-align: right;
}

.menu-list a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;

    vertical-align: middle;
    color: #000000;
}

.menu-list a:hover {
    color: #81b3d2;
}

.menu-list a:active {
    color: #000000;
    opacity: 0.3;
}

.current a {
    color: #766357;
}

.introduction {
    width: auto;
    margin-bottom: 50px;

    background-image: url("../img/background-photo-main.jpg");
    background-position: center -56px;
    background-repeat: no-repeat;
    background-color: #bcd5e5;
}

.reasons .attention {
    width: 466px;
    margin: 0 auto;
    margin-bottom: 29px;
}

.reasons {
    margin-bottom: 50px;
}

.reasons p {
    margin: 0;
    padding: 0;

    text-align: center;
}

.cityview,
.devils-bridge,
.attractions,
.benefits {
    display: flex;
}

.photo-cityview {
    overflow: hidden;
    width: 800px;
}

.photo-cityview img {
    display: block;
}

.reasons-blue,
.reasons-gray,
.reasons-white {
    width: 400px;
    text-align: center;
}

.reasons-blue {
    background-color: #81b3d2;
}

.reasons-gray {
    background-color: #eeeeee;
}

.reasons-white {
    padding-top: 62px;
    padding-bottom: 82px;
}

.reasons-blue h2 {
    width: 151px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 25px;

    color: #ffffff;
}

.reasons-blue p {
    width: 285px;
    margin: 0 auto;
    padding: 0;

    line-height: 21px;
    color: #ffffff;
}

.reasons-blue span {
    display: block;
    margin-bottom: 20px;

    line-height: 21px;
    color: #ffffff;
}

.reasons-white p {
    width: 285px;
    margin: 0 auto;
    padding: 0;

    line-height: 21px;
}

.reasons-white h2 {
    padding-top: 20px;
    padding-bottom: 25px;
}

p.d-move {
    width: 310px;
}

.reasons-gray h2 {
    width: 151px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 25px;
}

.reasons-gray p {
    width: 265px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 62px;

    line-height: 21px;
}

.reasons-gray span {
    display: block;
    margin-bottom: 20px;

    line-height: 21px;
}

p.di-move {
    width: 260px;
}

.hotel-finder {
    position: relative;
    margin: 0 auto;
}

.hotel-finder .attention {
    display: block;
    padding-top: 48px;
    padding-bottom: 22px;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.date-offer {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 47px;

    text-align: center;
  }

.dropdown-btn {
    display: block;
    width: 568px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #766357;
    border: none;
}

.dropdown-btn:hover {
    background-color: #604e43;
}

.dropdown-btn:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #503e33;
}

.date-form {
    position: absolute;
    left: 316px;
    top: 287px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 568px;
    margin: 0;
    padding-top: 58px;
    padding-bottom: 56px;
    padding-left: 56px;
    padding-right: 59px;

    background-color: #ffffff;
    box-shadow: 0 0 30px -4px rgba(0,0,0,.6);
}

.pick-date {
    position: relative;

    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.pick-adults,
.pick-kids {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 53px;
}

.pick-adults {
    position: relative;

    width: 223px;
    margin-right: auto;
}

.pick-kids {
    width: 175px;
}

.date-btn {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
}

.date-btn:hover {
    background-color: #669ec0;
}

.date-btn:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #5496bd;
}

.date-form label {
    display: inline-block;

    font-weight: 700;
    color: #000000;
}

.pick-date label {
    align-self: center;
}

.pick-kids label {
    align-self: center;
    padding-right: 25px;
}

.pick-adults label {
    align-self: center;
    padding-right: 42px;
}

.date-form input {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;

    font-family: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    outline: none;
}

.date-form input:hover{
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.date-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.date-form .input-number {
    width: 37px;
    text-align: center;
}

.number-edit {
    width: 37px;
    padding: 0;

    background-color: #f2f2f2;
    border: 0;
    outline: none;
}

.btn-minus {
    position: relative;
}

.btn-minus::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 13px;

    height: 3px;
    width: 11px;

    background: #a9a9a9;
}

.btn-minus:hover::before,
.btn-plus:hover::after,
.btn-plus:hover::before {
    background: #000000;
}

.btn-minus:active::before,
.btn-plus:active::before,
.btn-plus:active::after {
    background: #81b3d2;
}

.btn-plus {
    position: relative;
}

.btn-plus::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 13px;

    height: 3px;
    width: 11px;
    background: #a9a9a9;
}

.btn-plus::before {
    content: "";
    position: absolute;
    right: 17px;
    top: 18px;
    transform: translate(0, -50%);

    height: 11px;
    width: 3px;

    background: #a9a9a9;
}

.pick-date input {
    width: 320px;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 10px;
}

.calendar {
    position: absolute;
    right: 6px;
    top: 7px;

    padding: 0;

    background: none;
    outline: none;
    border: none;
}

.calendar:hover path {
    fill: #000000;
}

.calendar:active path {
    fill: #81b3d2;
}



.map-container {
    margin: 0;
    padding: 0;
}

.footer-overlay {
    position: absolute;
    bottom: 6px;

    width: 1200px;

    opacity: 0.9;
}

.filters {
    width: auto;

    background-image: url("../img/background-photo-blurred.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #bcd5e5;
}

.search-form {
    display: flex;
    padding-top: 28px;
    padding-bottom: 9px;
}

.infrastructure,
.lodging {
    width: 140px;
    margin: 0;
    padding: 0;
}

.infrastructure {
    margin-right: 115px;
    padding-left: 72px;
}

.show-range {
    width: 318px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-right: 72px;

    color: #ffffff;
}

.hotel-search {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    list-style: none;
}

.hotel-search li {
    margin-bottom: 23px;
    padding-left: 40px;

    text-align: left;
}

.hotel-search label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.checkbox-filter + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.checkbox-filter:checked + label::after {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.checkbox-filter:disabled + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.checkbox-filter:checked:disabled + label::after {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-on-disabled2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.mainfilter {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}

.show-range .mainfilter {
    margin-bottom: 9px;
}

.price-controls {
    position: relative;

    height: 32px;
    margin-bottom: 20px;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
    padding-top: 2px;
}

.price-controls .max-price {
    padding-left: 52px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 22px;

    background: #ffffff;
}

.range-controls {
    position: relative;
    margin-bottom: 31px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.filter-btn {
    display: block;
    width: 137px;
    margin: 0 auto;
    padding: 8px 25px;
    transform:translate(-4px);

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.found {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 32px;
    padding-bottom: 19px;

    border-bottom: 1px solid #e5e5e5;
}

.found h3 {
    width: 135px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    padding-left: 72px;

    text-align: left;
}

.sorted {
    display: flex;
    width: 360px;
    margin: 0;
    padding-top: 7px;
}

.sorted p {
    width: 78px;
    margin: 0;
    margin-right: 35px;
    padding: 0;

    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    color: #000000;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 35px;
    margin: 0;
    margin-left: auto;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 72px;
}

.arrow-controls:hover path {
    fill: #000000;
}

.arrow-controls:active path {
    fill: #81b3d2;
}

.arrow-current path {
    fill: #81b3d2;
}

.sort-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list a {
    display: block;

    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.302);

    border-bottom: 1px dotted #81b3d2;
}

.sort-list li:nth-child(2) {
    margin-left: 33px;
    margin-right: 33px;
}

.sort-list a:hover {
    color: #81b3d2;
    opacity: 1;
}

.sort-list a:active {
    color: #000000;
    opacity: 1;
    border-bottom: none;
}

.sorted-active a {
    color: #81b3d2;
    opacity: 1;
    border-bottom: none;
}

.hotel-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotel-card {
    display: flex;
    padding-top: 25px;
    padding-bottom: 21px;

    border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
    width: 135;
    margin: 0;
    margin-right: 30px;
    padding-left: 72px;
    padding-top: 6px;
}

.hotel-info {
    margin: 0;
    padding: 0;
    width: 265px;
}

.hotel-rating {
    width: 115px;
    margin: 0;
    margin-left: auto;
    padding-right: 72px;
}

.stars-photo {
    margin-bottom: 40px;
    padding-top: 4px;

    text-align: right;
}

.hotel-points {
    margin: 0;
    padding: 0;
    padding-left: 5px;

    text-align: center;
    background-color: #fbfbfb;
}

.hotel-category {
    display: inline-block;
    width: 110px;
    margin: 0;
    margin-right: 4px;
    padding: 0;
}

.hotel-info h3 {
    text-align: left;
}

.hotel-info h3:hover {
    color: #81b3d2;
}

.hotel-info h3:active {
    color: #000000;
    opacity: 0.3;
}

.hotel-info p {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 0;
}

.hotel-pricerange {
    margin: 0;
    padding: 0;
}

.description-btn {
    width: 110px;
    padding: 4px 16px;
    margin-right: 4px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;

    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #81b3d2;
}

.description-btn:hover {
    background-color: #669ec0;
}

.description-btn:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #5496bd;
  }

.booking-btn {
    width: 142px;
    padding: 4px 16px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #766357;
}

.booking-btn:hover {
    background-color: #604e43;
}

.booking-btn:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #503e33;
  }

.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 33px;

    color: #000000;
    background-color: #fefefe;
}

.footer-hashtag {
    width: 135px;
    margin: 0;
    margin-right: 258px;
    padding-left: 132px;
    padding-bottom: 51px;
    padding-top: 12px;

    font-size: 21px;
    font-weight: 700;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    padding: 0;
    padding-top: 4px;

    list-style: none;
}

.social-button a {
    position: relative;

    display: block;
    width: 45px;
    height: 45px;

    background-color: #81b3d2;
}

.social-button svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-button a:hover {
    background-color: #669ec0;
}

.social-button a:active {
    background-color: #5496bd;
}

.social-button a:active svg {
    opacity: 0.3;
}

.copyright {
    width: 200px;
    margin: 0;
    margin-left: auto;
    padding-right: 97px;
    padding-top: 7px;
}

.copyright:hover path {
    fill: #81b3d2;
  }

.copyright:active path {
    fill: #bdbbbc;
}

.copyright-logo {
    margin-left: 5px;
    vertical-align: middle;
}
