body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    …
}

.modal { /*временно*/
    display: none;
}

.center-container {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

.main-menu {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.menu-list {
    list-style: none;
}

.menu-list a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    color: #000000;
}

.menu-list li:nth-child(1) {
    padding-left: 72px;
    margin-right: 147px;
}

.menu-list li:nth-child(3) {
    margin-left: 390px;
    margin-right: 163px;
}

/*не поняла, как можно обойтись марджинами в меню только у первого и третьего элемента.
 Получается, что четвертый элемент прилипает к правому краю,
 а у него есть свой отступ*/

.menu-list li:nth-child(4) {
    padding-right: 72px;
}

.menu-list a:hover {
    color: #81b3d2;
}

.menu-list a:active {
    color: #000000;
    opacity: 0.3;
}

.current a {
    color: #766357;
}

.introduction {
    background-image: url("../img/background-photo-main.jpg");
    width: auto;

    background-position: top center;
    background-repeat: no-repeat;
    background-color: #bcd5e5;
  }

.welcome-message {
    padding-top: 76px;
    padding-bottom: 80px;
}

.attention,
h3 {
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    padding: 0;
    margin: 0;
}

.hotel-search .attention {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.dropdown-btn {
    font-family: "PT Sans", Arial, sans-serif; -
    font-size: 21px;
    font-weight: 700;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #766357;
    border: none;

    min-width: 290px;
    padding: 30px 140px;
    margin-top: 60px;
}

.dropdown-btn:hover {
    background-color: #604e43;
}

.dropdown-btn:active {
    color: rgba(255, 255, 255, 0.302);
    /*Так можно указать opacity, чтобы это свойство относилось только к тексту,
     а не к кнопке?*/
    background-color: #503e33;
}

.date-btn {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;
}

.date-btn:hover {
    background-color: #669ec0;
}

.date-btn:active {
    color: rgba(255, 255, 255, 0.302);

    background-color: #5496bd;
}

.main-footer {
    color: #000000;

    background-color: #fefefe;

}

.footer-hashtag {
    font-weight: 700;
}

ul.footer-social  {
    list-style: none;
}


/* ----- Сеточные стили ----- */

.main-header {
    margin-bottom: 0px;
}

.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.introduction {
    margin-bottom: 70px;
    padding-top: 1px;
}

.reasons .attention {
    width: 576px;
    margin: 0 auto;
}

.reasons {
    margin-bottom: 70px;
}

.hotel-search {
    width: 576px;
    margin: 0 auto;
}

.map-container {
    margin: 0;
    padding: 0;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.footer-hashtag {
    width: 135px;
    margin: 0;
    margin-right: 255px;
    padding-left: 132px;
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer-social {
    margin: 0;
    width: 155px;
    padding-top: 36px;
}

.copyright {
    margin: 0;
    margin-left: auto;
    width: 200px;
    padding-top: 40px;
    padding-right: 101px;
}

/*Стили для страницы отелей*/
.filters {
    background-image: url("../img/background-photo-blurred.jpg");
    width: auto;

    background-position: top center;
    background-repeat: no-repeat;
    background-color: #bcd5e5;
}

.search-form {/*Не получилось сделать форму флекс-элементом,
  блоки разъезжаются на всю ширину экрана
  https://gyazo.com/4935b9d2ef492b3d66c7145f0dbb2cac*/
}

.hotel-search {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;

    list-style: none;
}

.mainfilter {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filter-btn {
    font-family: "PT Sans", Arial, sans-serif; -
    font-size: 21px;
    font-weight: 400;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 3px;

  /*Bопрос - как точно померить border-radius?*/

    min-width: 65px;
    padding: 10px 35px;
}

.filter-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

.found {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.found h3 {
  /*Вопрос: есть небольшой лишний отступ слева (доп. к 72px).
   Где ошибка и как это поправить?*/
    margin: 0;
    width: 135px;
    margin-right: 50px;
    padding-left: 72px;
    padding-top: 31px;
    padding-bottom: 31px;

}
.sorted {
    margin: 0;
    width: 355px;
    padding-top: 41px;
    padding-bottom: 41px;
    display: flex;
}

.arrows {
    margin: 0;
    width: 35px;
    margin-left: auto;
    padding-top: 40px;
    padding-right: 72px;
}

.found p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.sort-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.sort-list li {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.302);
  /*Вопрос: что можно использовать вместо text-decoration или как поправить?
  Отражается неправильно: подчеркивание очень плотно снизу прилегает к тексту*/
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}

.sort-list li:nth-child(2) {
    margin-left: 33px;
    margin-right: 33px;
}

.sort-list li:hover {
    color: #81b3d2;
    opacity: 1;
}

.sort-list li:active {
    color: #000000;
    opacity: 1;
}

li.sorted-active {
    text-decoration: none;
    color: #81b3d2;
    opacity: 1;
}

.hotel-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hotel-card {
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
}

.hotel-photo {
    margin: 0;
    width: 135;
    padding-left: 72px;
    margin-right: 30px;
}

.hotel-info {
    margin: 0;
    width: 258px;
}

.hotel-rating {
    margin: 0;
    width: 115px;
    margin-left: auto;
    padding-right: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hotel-points {
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

.description-btn {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #81b3d2;

    min-width: 76px;
    padding: 9px 16px;
}

.description-btn:hover {
    background-color: #669ec0;
}

.description-btn:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.302);
}

.booking-btn {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #766357;

    min-width: 112px;
    padding: 9px 16px;
  }

.booking-btn:hover {
    background-color: #604e43;
}

.booking-btn:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.302);
